body {
    background-color: #f4f4f4;
    text-align: center;
    font-family:Comfortaa;
}
.hero {
    background: url('./imagenes/banner-2.jpg') no-repeat center center/cover;
    text-align: center;
    padding: 50px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero h1 {
    font-size: 100px;
    margin-bottom: 10px;
}


.hero-img {
    width: 80%;
   
    margin-top: 20px;
}
.info {
    padding: 40px 20px;
    background: #00C853;
    color: white;
}
.info h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

#h1p{
    color: black;
    font-size: 50px;

}

.info .images {
    display: grid;
    justify-items: center;
}
.info img {
    width: 100px;
    min-width: 150px;
    height: auto;
}
.studio {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
.studio h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.studio p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}
.studio-img {
    width: 80%;
    max-width: 400px;

}
.extra-images img {
    width: 100%;
            min-width: 150px;
            height: auto;
}
.footerazul{
    background: #1565C0;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 40px;
}
@media (min-width: 700px) {
    .hero {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
    .hero-text {
        max-width: 50%;
    }
   
    .studio {
        flex-direction: row;
        text-align: left;
        justify-content: center;
        align-items: center;
    }
    .studio-text {
        max-width: 50%;

    } 
}

#img3{
    width: 80%;
    margin-top: 25px;
}
#h6d{
    color: black;
    font-size: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color:black; 
    color: white;
}

.footer-container div {
    flex: 1;
}

#img5{
    width: 25%;
    margin: 0;
    padding: 0;
    
}