body {
    background-color: #f4f4f4;
    text-align: center;
    font-family:Comfortaa;
}
.hero {
    background: url('./imagenes/banner-2.jpg') no-repeat center center/cover;
    text-align: center;
    padding: 50px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.2em;
    color: #555;
}
.hero-img {
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
}
.info {
    padding: 40px 20px;
    background: #00C853;
    color: white;
}
.info h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}
.info .images {
    display: grid;
    justify-items: center;
}
.info img {
    width: 100px;
    min-width: 150px;
    height: auto;
}
.studio {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
.studio h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.studio p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}
.studio-img {
    width: 80%;
    max-width: 400px;

}
.extra-images {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    padding: 40px 20px;
    background: #f4f4f4;
}
.extra-images img {
    width: 100%;
            min-width: 150px;
            height: auto;
}
.footer {
    background: #1565C0;
    color: white;
    padding: 20px;
    font-size: 1.1em;
}
@media (min-width: 700px) {
    .hero {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
    .hero-text {
        max-width: 50%;
    }
    .extra-images {
        grid-template-columns: repeat(4, 1fr);
    }
    .studio {
        flex-direction: row;
        text-align: left;
        justify-content: center;
        align-items: center;
    }
    .studio-text {
        max-width: 50%;
    }
}
